<link rel="stylesheet" href="app.component.css">
<div class="container">
    <!-- Opening -->
    <h1 id="title">Become a Dev Knight today!</h1>
  
    <!-- Category -->
    <div class="categoriesInfo">
      <h1 id="category">Categories</h1>
      <span class="subInfo">Discover what kind of Dev you want to become!</span>
    </div>
    <br/>
  
    <!-- Images -->
    <div class="options flex">
      <h1 id="typetitles1">Front-End Rangers</h1>
      <span id="subtitles1">Quick and Agile Dev, always looking for the most beautiful solution</span>
      <h1 id="typetitles2">Back-End Fighters</h1>
      <span id="subtitles2">They train everyday to Fight against Bugs to protect their lands</span>
    </div>
    <div class="options flex">
      <h1 id="typetitles3">Devops Climbers</h1>
      <span id="subtitles3">Living in the High Mountains they look everything happening from afar, protecting all the Realms</span>
    </div>
    <div class="options flex">
      <h1 id="typetitles4">Tester Sirens</h1>
      <span id="subtitles4">Protect the Lands against mistakes that others Devs makes</span>
      <h1 id="typetitles5">Infrastructure Nomads</h1>
      <span id="subtitles5">They maintain all the other Devs alive against monster humans never crosspath in their lives </span>
    </div>
  </div>
  
  